/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require bootstrap.min
 *= require_self
 */

 input.list.btn.btn-danger {
   margin-top: 2%;
 }

 .new-list.container {
   font-family: helvetica sans-serif;
 }

 a#list-link{
     -moz-box-shadow: -4px -3px 4px -1px #e67a73;
     -webkit-box-shadow: -4px -3px 4px -1px #e67a73;
     box-shadow: -4px -3px 4px -1px #e67a73;
     background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e4685d), color-stop(1, #eb675e));
     background:-moz-linear-gradient(top, #e4685d 5%, #eb675e 100%);
     background:-webkit-linear-gradient(top, #e4685d 5%, #eb675e 100%);
     background:-o-linear-gradient(top, #e4685d 5%, #eb675e 100%);
     background:-ms-linear-gradient(top, #e4685d 5%, #eb675e 100%);
     background:linear-gradient(to bottom, #e4685d 5%, #eb675e 100%);
     filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4685d', endColorstr='#eb675e',GradientType=0);
     background-color:#e4685d;
     display:inline-block;
     cursor:pointer;
     color:#ffffff;
     font-family:Arial;
     font-size:18px;
     padding:17px 56px;
     text-decoration:none;
     text-shadow:-1px -3px 3px #b23e35;
   }
   a#list-link:hover {
     background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #eb675e), color-stop(1, #e4685d));
     background:-moz-linear-gradient(top, #eb675e 5%, #e4685d 100%);
     background:-webkit-linear-gradient(top, #eb675e 5%, #e4685d 100%);
     background:-o-linear-gradient(top, #eb675e 5%, #e4685d 100%);
     background:-ms-linear-gradient(top, #eb675e 5%, #e4685d 100%);
     background:linear-gradient(to bottom, #eb675e 5%, #e4685d 100%);
     filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eb675e', endColorstr='#e4685d',GradientType=0);
     background-color:#eb675e;
   }
   a#list-link:active {
     position:relative;
     top:1px;
   }
